@import "../../../variables";

h3 {
  color: $primary-text-color;
  font-size: $title-font-size;
  margin: 30px 0;
}

#news {

  margin-bottom: 100px;

  div {
    width: 80vw;

    margin: 10px auto;

    &:not(:first-child) {
      margin: 25px auto;
    }

    background-color: $secondary-bg-color;
    border-radius: 25px;
    padding: 20px 25px;
    display: flex;
    flex-flow: column;
    text-align: left;

    .news-title {
      font-size: 3.5vw;
      opacity: 0.85;
    }

    .news-date {
      font-size: 2vw;
      padding: 10px 0;
      opacity: 0.75;
    }

    .news-content {
      font-size: 2.5vw;
      opacity: 0.85;
    }
  }
}
