<section id="introduction">
  <img id="introduction_splash" src="assets/img/introduction_splash.png">

  <h1>
    BME Solar Boat Team
  </h1>
  <div id="introduction-content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae cumque dignissimos ducimus fugiat mollitia
      possimus quis repellendus totam veniam voluptas. A est non perspiciatis porro repellat repudiandae. Aliquid, at
      neque!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consequatur doloremque eveniet iure minus nihil
      officia
      quidem soluta! Architecto assumenda cum dolorem, hic ipsa laboriosam nam neque omnis quas suscipit?
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cupiditate debitis ex libero tenetur. Cumque
      debitis doloremque error, hic labore maxime minus neque praesentium quod repudiandae totam ut vitae, voluptatibus.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci animi blanditiis distinctio dolorum natus
      non
      odio odit provident rem tempore totam, vel vero? Maiores nobis non numquam sequi veritatis!
    </p>
  </div>
</section>
