$primary-bg-color: #464687;
$secondary-bg-color: #7373A4;
$primary-text-color: #FFF;

$font-primary: "Roboto, sans-serif";
$title-font-size: 5vw;

// Breakpoints (Width)
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-xl: 1200px;
